<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Create Form </title>
</head>
<body>
    <form method="POST" action="save">
        {% csrf_token %}
        Enter UserName: <input name="Lyrics_UserName" type="text" > <br>
        Enter SongName: <input name="Lyrics_SongName" type="text" > <br>
        Enter Lyric: <input name="Lyrics_Lyric" type="text" > <br>
        <input type="submit">
    </form>

</body>
</html>