<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
 <title>Lyrics Submition</title>
 <link rel="stylesheet" href="lyrics.css">
</head>
<body>
    <div class="form-style">
        <h1>Lyrics Submition</h1>
        <form action=""></form>
        Username : <input type="text" name="field1" placeholder="Username"><br>
        Song Name : <input type="text" name="field2" placeholder="Song Name"><br>
        Lyrics : <textarea name="field3" placeholder="Type your Lyrics Here..."></textarea>
        <input type="submit" name="Submit" value="Send">
    </div>
</body>
</html>